@model Auc.Common.ViewModels.Dashboard.DashboardContainerVM
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="container">
        <div class="Hedaer">
            <div class="overlay"></div>
        </div>

        <div class="Data">

            <div class="col-md-1"></div>


            <div class="panel panel-warning col-md-2">
                <div class="panel-heading">
                    All Apps
                </div>
                <div class="panel-body">
                    <div class="MyImg">
                        <img src="~/Content/Imgs/All.png" />
                    </div>
                    <p>
                        <a href="@Url.Action("Index","Students")" target="_blank"> @Model.AppCount</a>

                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="panel panel-info col-md-2">
                <div class="panel-heading">
                    Pending Apps
                </div>
                <div class="panel-body">
                    <div class="MyImg">
                        <img src="~/Content/Imgs/pending.png" />
                    </div>
                    <p>
                        @Model.PendingCount
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="panel panel-success col-md-2">
                <div class="panel-heading">
                    Accepted Apps
                </div>
                <div class="panel-body">
                    <div class="MyImg">
                        <img src="~/Content/Imgs/Accept.png" />
                    </div>
                    <p>
                        @Model.AceptedCount
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="panel panel-danger col-md-2">
                <div class="panel-heading">
                    Rejected Apps
                </div>
                <div class="panel-body">
                    <div class="MyImg">
                        <img src="~/Content/Imgs/Reject.jpg" />
                    </div>
                    <p>
                        @Model.RejectedCount
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</div>

